.bubble {

  stroke: #fff;
  stroke-width: .5px;
}

h1{
	color:lightgray;
}
#options p{
	width:120px;
	border: solid;
	padding:4px;
	align-content: center;	
}
#options p:hover{
background-color:lightgray;
}
#tooltip{    
    position:fixed;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0,.4);
    pointer-events:none;
    width:200px;
    height:70px;
	color:black;
}

.hidden{
    display:none;
}
#options,td{
margin:10px;
padding:10px;


    
    
}
td:hover{
    background-color: lightblue;
}