.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

h1{
	color:lightgray;
}

#tooltip{    
    position:fixed;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0,.4);
    pointer-events:none;
    width:200px;
    height:70px;
	color:black;
}
.hidden{
    display:none;
}